In [1]:
import pandas as pd
import re

In [2]:
#file path
file_path = "GSE20916_series_matrix.txt"

# Read the file, ignoring comment lines and extracting metadata
metadata = {}
with open(file_path, "r") as file:
    for line in file:
        if line.startswith("!Sample_"):
            key, values = line.split("\t", 1)
            key = key.replace("!Sample_", "").strip()
            values = values.strip().split("\t")
            metadata[key] = values

df_metadata_all = pd.DataFrame(metadata)

# Identify and rename relevant metadata fields if needed
#relevant_columns = ["age", "sex", "disease state", "treatment", "other metadata fields"]
#for col in df_metadata_all.columns:
#    if any(keyword in col.lower() for keyword in relevant_columns):
 #       df_metadata.rename(columns={col: col.lower().replace(" ", "_")}, inplace=True)

# Display the first few rows of the metadata
print(df_metadata_all.head())

                                               title geo_accession  \
0                    "mucosa_normal_colon_1 (micro)"   "GSM523242"
1                    "mucosa_normal_colon_2 (micro)"   "GSM523243"
2                         "mucosa_adenoma_3 (micro)"   "GSM523244"
3  "colonic_crypt_epithelial_cells_normal_colon_4...   "GSM523245"
4                    "mucosa_normal_colon_5 (micro)"   "GSM523246"

                    status submission_date last_update_date   type  \
0  "Public on Aug 01 2010"   "Mar 16 2010"    "Aug 28 2018"  "RNA"
1  "Public on Aug 01 2010"   "Mar 16 2010"    "Aug 28 2018"  "RNA"
2  "Public on Aug 01 2010"   "Mar 16 2010"    "Aug 28 2018"  "RNA"
3  "Public on Aug 01 2010"   "Mar 16 2010"    "Aug 28 2018"  "RNA"
4  "Public on Aug 01 2010"   "Mar 16 2010"    "Aug 28 2018"  "RNA"

  channel_count   source    organism_ch1                 tissue  ...  \
0           "1"  "colon"  "Homo sapiens"  "tissue: colon tumor"  ...
1           "1"  "colon"  "Homo sapiens"  "tissue: colon tumor"  ...
2           "1"  "colon"  "Homo sapiens"  "tissue: colon tumor"  ...
3           "1"  "colon"  "Homo sapiens"  "tissue: colon tumor"  ...
4           "1"  "colon"  "Homo sapiens"  "tissue: colon tumor"  ...

          contact_name contact_department         contact_institute  \
0  "Krzysztof,,Goryca"             "CeNT"  "Uniwersytet Warszawski"
1  "Krzysztof,,Goryca"             "CeNT"  "Uniwersytet Warszawski"
2  "Krzysztof,,Goryca"             "CeNT"  "Uniwersytet Warszawski"
3  "Krzysztof,,Goryca"             "CeNT"  "Uniwersytet Warszawski"
4  "Krzysztof,,Goryca"             "CeNT"  "Uniwersytet Warszawski"

  contact_address contact_city contact_zip/postal_code contact_country  \
0    "Banacha 2c"   "Warszawa"                "02-097"        "Poland"
1    "Banacha 2c"   "Warszawa"                "02-097"        "Poland"
2    "Banacha 2c"   "Warszawa"                "02-097"        "Poland"
3    "Banacha 2c"   "Warszawa"                "02-097"        "Poland"
4    "Banacha 2c"   "Warszawa"                "02-097"        "Poland"

                                  supplementary_file data_row_count  \
0  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...        "24002"
1  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...        "24002"
2  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...        "24002"
3  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...        "24002"
4  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...        "24002"

                     relation
0  "Reanalyzed by: GSE119087"
1  "Reanalyzed by: GSE119087"
2  "Reanalyzed by: GSE119087"
3  "Reanalyzed by: GSE119087"
4  "Reanalyzed by: GSE119087"

[5 rows x 34 columns]

In [3]:
# Save the metadata DataFrame to a CSV file
df_metadata_all.to_csv("GSE20916_metadata_all.csv", index=False)

In [4]:
print(list(df_metadata_all.columns))

['title', 'geo_accession', 'status', 'submission_date', 'last_update_date', 'type', 'channel_count', 'source', 'organism_ch1', 'tissue', 'characteristics_ch1', 'characteristics_ch2', 'gender', 'localization', 'molecule_ch1', 'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1', 'hyb_protocol', 'scan_protocol', 'description', 'data_processing', 'platform_id', 'contact_name', 'contact_department', 'contact_institute', 'contact_address', 'contact_city', 'contact_zip/postal_code', 'contact_country', 'supplementary_file', 'data_row_count', 'relation']

In [5]:
df_metadata_all.tail()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source,organism_ch1,tissue,...,contact_name,contact_department,contact_institute,contact_address,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count,relation
140,"""normal_colon_101 (macro)""","""GSM523382""","""Public on Aug 01 2010""","""Mar 16 2010""","""Aug 28 2018""","""RNA""","""1""","""colon""","""Homo sapiens""","""tissue: normal colon""",...,"""Krzysztof,,Goryca""","""CeNT""","""Uniwersytet Warszawski""","""Banacha 2c""","""Warszawa""","""02-097""","""Poland""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...","""25410""","""Reanalyzed by: GSE119087"""
141,"""adenoma_102""","""GSM523383""","""Public on Aug 01 2010""","""Mar 16 2010""","""Aug 28 2018""","""RNA""","""1""","""colon""","""Homo sapiens""","""tissue: adenoma""",...,"""Krzysztof,,Goryca""","""CeNT""","""Uniwersytet Warszawski""","""Banacha 2c""","""Warszawa""","""02-097""","""Poland""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...","""25410""","""Reanalyzed by: GSE119087"""
142,"""adenoma_103""","""GSM523384""","""Public on Aug 01 2010""","""Mar 16 2010""","""Aug 28 2018""","""RNA""","""1""","""colon""","""Homo sapiens""","""tissue: adenoma""",...,"""Krzysztof,,Goryca""","""CeNT""","""Uniwersytet Warszawski""","""Banacha 2c""","""Warszawa""","""02-097""","""Poland""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...","""25410""","""Reanalyzed by: GSE119087"""
143,"""adenoma_104""","""GSM523385""","""Public on Aug 01 2010""","""Mar 16 2010""","""Aug 28 2018""","""RNA""","""1""","""colon""","""Homo sapiens""","""tissue: adenoma""",...,"""Krzysztof,,Goryca""","""CeNT""","""Uniwersytet Warszawski""","""Banacha 2c""","""Warszawa""","""02-097""","""Poland""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...","""25410""","""Reanalyzed by: GSE119087"""
144,"""adenoma_105""","""GSM523386""","""Public on Aug 01 2010""","""Mar 16 2010""","""Aug 28 2018""","""RNA""","""1""","""colon""","""Homo sapiens""","""tissue: adenoma""",...,"""Krzysztof,,Goryca""","""CeNT""","""Uniwersytet Warszawski""","""Banacha 2c""","""Warszawa""","""02-097""","""Poland""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...","""25410""","""Reanalyzed by: GSE119087"""

In [6]:
for col in df_metadata_all.columns:
    print(f"Column: {col}")
    print(df_metadata_all[col].head())  # Show first few values of each column
    print("-" * 50)

Column: title
0                      "mucosa_normal_colon_1 (micro)"
1                      "mucosa_normal_colon_2 (micro)"
2                           "mucosa_adenoma_3 (micro)"
3    "colonic_crypt_epithelial_cells_normal_colon_4...
4                      "mucosa_normal_colon_5 (micro)"
Name: title, dtype: object
--------------------------------------------------
Column: geo_accession
0    "GSM523242"
1    "GSM523243"
2    "GSM523244"
3    "GSM523245"
4    "GSM523246"
Name: geo_accession, dtype: object
--------------------------------------------------
Column: status
0    "Public on Aug 01 2010"
1    "Public on Aug 01 2010"
2    "Public on Aug 01 2010"
3    "Public on Aug 01 2010"
4    "Public on Aug 01 2010"
Name: status, dtype: object
--------------------------------------------------
Column: submission_date
0    "Mar 16 2010"
1    "Mar 16 2010"
2    "Mar 16 2010"
3    "Mar 16 2010"
4    "Mar 16 2010"
Name: submission_date, dtype: object
--------------------------------------------------
Column: last_update_date
0    "Aug 28 2018"
1    "Aug 28 2018"
2    "Aug 28 2018"
3    "Aug 28 2018"
4    "Aug 28 2018"
Name: last_update_date, dtype: object
--------------------------------------------------
Column: type
0    "RNA"
1    "RNA"
2    "RNA"
3    "RNA"
4    "RNA"
Name: type, dtype: object
--------------------------------------------------
Column: channel_count
0    "1"
1    "1"
2    "1"
3    "1"
4    "1"
Name: channel_count, dtype: object
--------------------------------------------------
Column: source
0    "colon"
1    "colon"
2    "colon"
3    "colon"
4    "colon"
Name: source, dtype: object
--------------------------------------------------
Column: organism_ch1
0    "Homo sapiens"
1    "Homo sapiens"
2    "Homo sapiens"
3    "Homo sapiens"
4    "Homo sapiens"
Name: organism_ch1, dtype: object
--------------------------------------------------
Column: tissue
0    "tissue: colon tumor"
1    "tissue: colon tumor"
2    "tissue: colon tumor"
3    "tissue: colon tumor"
4    "tissue: colon tumor"
Name: tissue, dtype: object
--------------------------------------------------
Column: characteristics_ch1
0                          "tissue morphology: mucosa"
1                          "tissue morphology: mucosa"
2                          "tissue morphology: mucosa"
3    "tissue morphology: colonic crypt epithelial c...
4                          "tissue morphology: mucosa"
Name: characteristics_ch1, dtype: object
--------------------------------------------------
Column: characteristics_ch2
0    "malignacy: normal colon"
1    "malignacy: normal colon"
2         "malignacy: adenoma"
3    "malignacy: normal colon"
4    "malignacy: normal colon"
Name: characteristics_ch2, dtype: object
--------------------------------------------------
Column: gender
0    "Sex: female"
1    "Sex: female"
2    "Sex: female"
3    "Sex: female"
4    "Sex: female"
Name: gender, dtype: object
--------------------------------------------------
Column: localization
0    ""
1    ""
2    ""
3    ""
4    ""
Name: localization, dtype: object
--------------------------------------------------
Column: molecule_ch1
0    "total RNA"
1    "total RNA"
2    "total RNA"
3    "total RNA"
4    "total RNA"
Name: molecule_ch1, dtype: object
--------------------------------------------------
Column: extract_protocol_ch1
0    "Extraction of total RNA was performed using t...
1    "Extraction of total RNA was performed using t...
2    "Extraction of total RNA was performed using t...
3    "Extraction of total RNA was performed using t...
4    "Extraction of total RNA was performed using t...
Name: extract_protocol_ch1, dtype: object
--------------------------------------------------
Column: label_ch1
0    "biotin"
1    "biotin"
2    "biotin"
3    "biotin"
4    "biotin"
Name: label_ch1, dtype: object
--------------------------------------------------
Column: label_protocol_ch1
0    "Biotinylated cRNA were prepared according to ...
1    "Biotinylated cRNA were prepared according to ...
2    "Biotinylated cRNA were prepared according to ...
3    "Biotinylated cRNA were prepared according to ...
4    "Biotinylated cRNA were prepared according to ...
Name: label_protocol_ch1, dtype: object
--------------------------------------------------
Column: taxid_ch1
0    "9606"
1    "9606"
2    "9606"
3    "9606"
4    "9606"
Name: taxid_ch1, dtype: object
--------------------------------------------------
Column: hyb_protocol
0    "Following fragmentation, 10 ug of cRNA were h...
1    "Following fragmentation, 10 ug of cRNA were h...
2    "Following fragmentation, 10 ug of cRNA were h...
3    "Following fragmentation, 10 ug of cRNA were h...
4    "Following fragmentation, 10 ug of cRNA were h...
Name: hyb_protocol, dtype: object
--------------------------------------------------
Column: scan_protocol
0    "GeneChips were scanned using the Affymetrix G...
1    "GeneChips were scanned using the Affymetrix G...
2    "GeneChips were scanned using the Affymetrix G...
3    "GeneChips were scanned using the Affymetrix G...
4    "GeneChips were scanned using the Affymetrix G...
Name: scan_protocol, dtype: object
--------------------------------------------------
Column: description
0    "n/a"
1    "n/a"
2    "n/a"
3    "n/a"
4    "n/a"
Name: description, dtype: object
--------------------------------------------------
Column: data_processing
0    "Cell intensity files were generated using GCO...
1    "Cell intensity files were generated using GCO...
2    "Cell intensity files were generated using GCO...
3    "Cell intensity files were generated using GCO...
4    "Cell intensity files were generated using GCO...
Name: data_processing, dtype: object
--------------------------------------------------
Column: platform_id
0    "GPL570"
1    "GPL570"
2    "GPL570"
3    "GPL570"
4    "GPL570"
Name: platform_id, dtype: object
--------------------------------------------------
Column: contact_name
0    "Krzysztof,,Goryca"
1    "Krzysztof,,Goryca"
2    "Krzysztof,,Goryca"
3    "Krzysztof,,Goryca"
4    "Krzysztof,,Goryca"
Name: contact_name, dtype: object
--------------------------------------------------
Column: contact_department
0    "CeNT"
1    "CeNT"
2    "CeNT"
3    "CeNT"
4    "CeNT"
Name: contact_department, dtype: object
--------------------------------------------------
Column: contact_institute
0    "Uniwersytet Warszawski"
1    "Uniwersytet Warszawski"
2    "Uniwersytet Warszawski"
3    "Uniwersytet Warszawski"
4    "Uniwersytet Warszawski"
Name: contact_institute, dtype: object
--------------------------------------------------
Column: contact_address
0    "Banacha 2c"
1    "Banacha 2c"
2    "Banacha 2c"
3    "Banacha 2c"
4    "Banacha 2c"
Name: contact_address, dtype: object
--------------------------------------------------
Column: contact_city
0    "Warszawa"
1    "Warszawa"
2    "Warszawa"
3    "Warszawa"
4    "Warszawa"
Name: contact_city, dtype: object
--------------------------------------------------
Column: contact_zip/postal_code
0    "02-097"
1    "02-097"
2    "02-097"
3    "02-097"
4    "02-097"
Name: contact_zip/postal_code, dtype: object
--------------------------------------------------
Column: contact_country
0    "Poland"
1    "Poland"
2    "Poland"
3    "Poland"
4    "Poland"
Name: contact_country, dtype: object
--------------------------------------------------
Column: supplementary_file
0    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...
1    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...
2    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...
3    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...
4    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM523...
Name: supplementary_file, dtype: object
--------------------------------------------------
Column: data_row_count
0    "24002"
1    "24002"
2    "24002"
3    "24002"
4    "24002"
Name: data_row_count, dtype: object
--------------------------------------------------
Column: relation
0    "Reanalyzed by: GSE119087"
1    "Reanalyzed by: GSE119087"
2    "Reanalyzed by: GSE119087"
3    "Reanalyzed by: GSE119087"
4    "Reanalyzed by: GSE119087"
Name: relation, dtype: object
--------------------------------------------------

In [7]:
file_path = "GSE20916_series_matrix.txt"
data = pd.read_csv(file_path, sep="\t", comment="!", header=0)
print(data.head())

      ID_REF  GSM523242  GSM523243  GSM523244  GSM523245  GSM523246  \
0  1007_s_at    8.98104    8.59941    8.25395    8.72981    8.70794
1    1053_at    5.84313    6.59168    8.27881    6.64005    4.65107
2     117_at        NaN        NaN        NaN        NaN        NaN
3     121_at    6.17189    5.73603    5.55673    5.69374    6.77618
4    1294_at    6.97009    6.80003    5.56620    7.43816    7.36375

   GSM523247  GSM523248  GSM523249  GSM523250  ...  GSM523377  GSM523378  \
0    8.10693    8.96594    9.35994    8.40191  ...  10.258785   8.873762
1    7.19090    6.24983    6.98251    7.41631  ...   5.658359   7.984584
2        NaN        NaN        NaN        NaN  ...   2.872405   3.057607
3    5.84524    6.02640    6.49465    6.18855  ...   4.572533   4.015876
4    5.85687    6.26649    6.44538    6.52518  ...   5.772488   3.905641

   GSM523379  GSM523380  GSM523381  GSM523382  GSM523383  GSM523384  \
0   9.375820   9.439027   9.342048   9.384238   9.484981   9.998928
1   7.035194   8.517788   7.707080   6.537316   6.147077   6.881426
2   4.501695   2.922535   2.870681   2.952758   2.833731   2.884290
3   4.451481   4.278941   4.002704   4.717161   5.587504   4.980795
4   4.481027   3.698552   4.145518   4.685480   4.924169   5.009281

   GSM523385  GSM523386
0   9.584560  10.168989
1   7.027152   6.593959
2   3.041163   2.909604
3   5.153567   4.433105
4   4.376320   5.017905

[5 rows x 146 columns]

In [8]:
data

,ID_REF,GSM523242,GSM523243,GSM523244,GSM523245,GSM523246,GSM523247,GSM523248,GSM523249,GSM523250,...,GSM523377,GSM523378,GSM523379,GSM523380,GSM523381,GSM523382,GSM523383,GSM523384,GSM523385,GSM523386
0,1007_s_at,8.98104,8.59941,8.25395,8.72981,8.70794,8.10693,8.96594,9.35994,8.40191,...,10.258785,8.873762,9.375820,9.439027,9.342048,9.384238,9.484981,9.998928,9.584560,10.168989
1,1053_at,5.84313,6.59168,8.27881,6.64005,4.65107,7.19090,6.24983,6.98251,7.41631,...,5.658359,7.984584,7.035194,8.517788,7.707080,6.537316,6.147077,6.881426,7.027152,6.593959
2,117_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.872405,3.057607,4.501695,2.922535,2.870681,2.952758,2.833731,2.884290,3.041163,2.909604
3,121_at,6.17189,5.73603,5.55673,5.69374,6.77618,5.84524,6.02640,6.49465,6.18855,...,4.572533,4.015876,4.451481,4.278941,4.002704,4.717161,5.587504,4.980795,5.153567,4.433105
4,1294_at,6.97009,6.80003,5.56620,7.43816,7.36375,5.85687,6.26649,6.44538,6.52518,...,5.772488,3.905641,4.481027,3.698552,4.145518,4.685480,4.924169,5.009281,4.376320,5.017905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27692,91617_at,7.53014,7.11802,7.34589,8.26931,8.40114,7.54164,8.15708,7.26892,7.46969,...,4.920679,4.778997,4.858657,4.169548,4.695084,4.680627,4.005546,4.311995,4.237357,4.711825
27693,91684_g_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.512682,6.920687,6.694095,7.825421,6.669520,5.723767,5.279143,6.763246,6.921027,6.567028
27694,91703_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.004171,3.681102,3.674337,3.738929,3.576459,3.799769,3.549471,4.341217,3.762522,3.804493
27695,91826_at,7.54410,6.40133,5.57799,7.30103,6.95342,5.26293,6.22605,6.56289,6.20872,...,6.527807,5.398671,5.785342,5.413568,6.160753,6.178579,5.565232,6.616097,5.695232,6.248676
27696,91952_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.861574,4.779132,5.788495,4.492621,4.419550,4.336326,3.693587,4.524337,4.043404,4.696232

In [9]:
data.to_csv("GSE20916_gene_expression.csv", index=False)