In [1]:
import pandas as pd

In [2]:
#read gene expression file
gene_expression_file = "GSE44076_gene_expression.csv"
gene_expression = pd.read_csv(gene_expression_file)
gene_expression.head()

,ID_REF,GSM1077598,GSM1077599,GSM1077600,GSM1077601,GSM1077602,GSM1077603,GSM1077604,GSM1077605,GSM1077606,...,GSM1077834,GSM1077835,GSM1077836,GSM1077837,GSM1077838,GSM1077839,GSM1077840,GSM1077841,GSM1077842,GSM1077843
0,11715100_at,3.6599,2.5712,3.3174,3.1835,2.9949,3.4481,3.1692,3.5142,2.7073,...,3.2312,4.4599,3.8468,3.8416,4.2620,2.7624,2.5775,3.1441,4.8256,3.3535
1,11715101_s_at,4.1524,4.1879,4.1040,4.3635,4.5227,4.1203,4.2486,4.1462,3.8748,...,3.8795,5.7232,4.7099,4.0111,4.9795,3.7898,3.7737,4.3357,5.4895,4.4803
2,11715102_x_at,3.3896,3.1228,3.2434,3.1175,3.3627,2.8233,3.4594,3.1960,3.1082,...,3.3990,5.1110,4.2058,3.2759,4.4833,3.0972,2.7807,3.4050,4.4170,3.2669
3,11715103_x_at,3.8929,3.7299,4.1048,3.3426,3.3376,3.0590,3.2893,3.2290,2.9375,...,3.7911,3.1532,4.2702,3.4329,3.5422,4.3038,3.2338,3.4187,4.6358,4.1998
4,11715104_s_at,7.3799,7.7642,6.4705,7.0046,6.9029,6.1424,6.5051,6.4659,6.6958,...,2.6693,2.6769,2.7843,2.6698,2.8176,3.0904,2.6377,3.0226,2.7754,2.3838

In [3]:
#index names are now replaced with gene id
gene_expression_file = "GSE44076_gene_expression.csv"
gene_expression = pd.read_csv(gene_expression_file, index_col=0) #index names are now replaced with gene id

In [4]:
gene_expression.head()

,GSM1077598,GSM1077599,GSM1077600,GSM1077601,GSM1077602,GSM1077603,GSM1077604,GSM1077605,GSM1077606,GSM1077607,...,GSM1077834,GSM1077835,GSM1077836,GSM1077837,GSM1077838,GSM1077839,GSM1077840,GSM1077841,GSM1077842,GSM1077843
ID_REF,,,,,,,,,,,,,,,,,,,,,
11715100_at,3.6599,2.5712,3.3174,3.1835,2.9949,3.4481,3.1692,3.5142,2.7073,3.1568,...,3.2312,4.4599,3.8468,3.8416,4.2620,2.7624,2.5775,3.1441,4.8256,3.3535
11715101_s_at,4.1524,4.1879,4.1040,4.3635,4.5227,4.1203,4.2486,4.1462,3.8748,4.7582,...,3.8795,5.7232,4.7099,4.0111,4.9795,3.7898,3.7737,4.3357,5.4895,4.4803
11715102_x_at,3.3896,3.1228,3.2434,3.1175,3.3627,2.8233,3.4594,3.1960,3.1082,3.5683,...,3.3990,5.1110,4.2058,3.2759,4.4833,3.0972,2.7807,3.4050,4.4170,3.2669
11715103_x_at,3.8929,3.7299,4.1048,3.3426,3.3376,3.0590,3.2893,3.2290,2.9375,3.5904,...,3.7911,3.1532,4.2702,3.4329,3.5422,4.3038,3.2338,3.4187,4.6358,4.1998
11715104_s_at,7.3799,7.7642,6.4705,7.0046,6.9029,6.1424,6.5051,6.4659,6.6958,7.2299,...,2.6693,2.6769,2.7843,2.6698,2.8176,3.0904,2.6377,3.0226,2.7754,2.3838

In [5]:
gene_expression.describe()

,GSM1077598,GSM1077599,GSM1077600,GSM1077601,GSM1077602,GSM1077603,GSM1077604,GSM1077605,GSM1077606,GSM1077607,...,GSM1077834,GSM1077835,GSM1077836,GSM1077837,GSM1077838,GSM1077839,GSM1077840,GSM1077841,GSM1077842,GSM1077843
count,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,...,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000,49386.000000
mean,4.579950,4.574193,4.588482,4.597692,4.578819,4.583856,4.587517,4.581875,4.573836,4.568528,...,4.591922,4.588611,4.582435,4.591671,4.580303,4.587929,4.603747,4.610594,4.578003,4.596878
std,2.425002,2.432879,2.333238,2.385035,2.384551,2.355692,2.353951,2.427778,2.408188,2.395047,...,2.413349,2.372097,2.440362,2.393606,2.444208,2.428444,2.454231,2.427007,2.441764,2.444024
min,1.561400,1.556800,1.520800,1.624300,1.574400,1.527500,1.558800,1.589000,1.577900,1.416100,...,1.595100,1.546000,1.496400,1.423000,1.527000,1.563900,1.563600,1.468400,1.533300,1.524100
25%,2.523200,2.529400,2.673600,2.615550,2.602700,2.643325,2.653400,2.546600,2.556500,2.593600,...,2.533225,2.620200,2.504800,2.548925,2.485000,2.508500,2.467000,2.517300,2.508600,2.491400
50%,3.667200,3.651550,3.723900,3.693300,3.656250,3.674800,3.704250,3.640950,3.680200,3.665100,...,3.737400,3.666850,3.694950,3.728800,3.691900,3.730900,3.804500,3.792550,3.663000,3.725350
75%,6.335575,6.307550,6.195825,6.271975,6.246375,6.238000,6.211600,6.319375,6.265475,6.225500,...,6.318300,6.287300,6.359400,6.338800,6.351325,6.355000,6.395925,6.380850,6.333175,6.395350
max,13.789300,13.864300,13.864300,13.870700,13.866200,13.938300,13.909300,13.869500,13.909300,13.837500,...,13.834100,13.800200,13.566700,13.733900,13.661800,13.766100,13.606700,13.661100,13.707700,13.591800

In [6]:
gene_expression.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49386 entries, 11715100_at to AFFX-TrpnX-M_at
Columns: 246 entries, GSM1077598 to GSM1077843
dtypes: float64(246)
memory usage: 93.1+ MB

In [7]:
gene_expression.shape

(49386, 246)

In [8]:
gene_expression.columns

Index(['GSM1077598', 'GSM1077599', 'GSM1077600', 'GSM1077601', 'GSM1077602',
       'GSM1077603', 'GSM1077604', 'GSM1077605', 'GSM1077606', 'GSM1077607',
       ...
       'GSM1077834', 'GSM1077835', 'GSM1077836', 'GSM1077837', 'GSM1077838',
       'GSM1077839', 'GSM1077840', 'GSM1077841', 'GSM1077842', 'GSM1077843'],
      dtype='object', length=246)

In [9]:
gene_expression.isnull().sum()

GSM1077598    0
GSM1077599    0
GSM1077600    0
GSM1077601    0
GSM1077602    0
             ..
GSM1077839    0
GSM1077840    0
GSM1077841    0
GSM1077842    0
GSM1077843    0
Length: 246, dtype: int64

In [10]:
# temporarily allow full output for columns to see all column result
#pd.set_option('display.max_rows', None)

#gene_expression.isnull().sum()

In [11]:
# Reset the option back to default
#pd.reset_option('display.max_rows')

In [12]:
# total columns with nulls
columns_with_null_count = (gene_expression.isnull().sum() > 0).sum()

# total columns without nulls
columns_without_null_count = (gene_expression.isnull().sum() == 0).sum()

print(f"Columns with Nulls: {columns_with_null_count}")
print(f"Columns without Nulls: {columns_without_null_count}")

Columns with Nulls: 0
Columns without Nulls: 246